@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

.p-access {
  background-color: v.$color-back;
  width: 100%;
  position: relative;
  &__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
  }

  &__content {
    width: 100%;
    height: 100%;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: url(../img/map.png) no-repeat;
    //   background-size: 1480px;
    //   background-position: 30% 57%;
    //   opacity: 0.6;
    // }
  }

  &__description {
    position: relative;
    top: 0;
    left: 0;

    &::after {
      content: "";
      background: v.$color-black;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    padding: 30px;
    z-index: 50;
  }

  &__text {
    padding: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: v.$color-white;
    position: relative;
    z-index: 50;
    line-height: 2;
  }

}

@include m.md {
  .p-access {
    height: auto;

    &__description {
      height: 100%;
    }
  }
}

@include m.lg {
  .p-access {
    height: auto;

    &__description {
      position: relative;
      top: 0;
      left: 0;
    }

    &__content {
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        background-size: 2120px;
      }
    }

    &__description {
      height: 100%;
      width: 60%;
    }

    &__title {
      padding: 50px;
    }

    &__text {
      padding: 50px;
      font-size: 1.6rem;
    }
  }
}