@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

.p-archiveTop {
  width: 100%;
  height: 283px;
  background-color: v.$color-back;
  position: relative;

  &__img {
    background-image: url(../img/page-title_arcive@2x.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    position: absolute;
    z-index: 50;

    h1 {
      font-size: 3.6rem;
      font-weight: bold;
      color: v.$color-white;
      margin-bottom: 7px;
    }

    p {
      font-size: 1.6rem;
      font-weight: bold;
      color: v.$color-white;
    }
  }

  &__text {
    h1 {
      font-size: 2.8rem;
      font-weight: bold;
      color: v.$color-brown_content;
      margin: 30px 0;
    }

    p {
      font-size: 1.6rem;
      font-weight: normal;
      color: v.$color-brown_content;
      margin-bottom: 20px;
    }
  }
}

@include m.md {
  .p-archiveTop {
    &__title {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      h1 {
        font-size: 6rem;
        margin-right: 20px;
      }
    }
  }
}
@include m.lg {
  .p-archiveTop {
    height: 239px;
    &__title {
      padding-left: 4.5vw;
    }
  }
}