@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

.p-fv {
    width: 100%;
    height: 285px;
    // margin-top: 220px;　△１
    background-image: url(../img/mainvisual-sp@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 36px;
        font-weight: bold;
        color: v.$color-white;
        line-height: 285px;
        padding-left: 25px;
    }
}

@include m.lg {
    .p-fv {

        height: 530px;
        margin-top: 0;
        background-image: url(../img/mainvisual-pc@2x.jpg);

        h1 {
            font-size: 40px;
            font-weight: bold;
            color: v.$color-white;
            line-height: 530px;
            padding-left: 40px;
        }
    }
}