@use "./../../foundation/variable"as v;
@use "./../../foundation/mixin"as m;

.p-model {
  width: 100%;
  padding: 20px;


  &__takeout {
    background-image: url(../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__eatin {
    background-image: url(../img/473d814b175bd517b56eb309f2958725.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    margin-top: 250px;
  }

  &__description {
    background-color: v.$color-white;
    opacity: 0.8;
    margin-top: 20px;
    padding: 10px;

    h3 {
      color: v.$color-brown_content;
      font-weight: bold;
      font-size: 2.2rem;
    }

    p {
      color: v.$color-brown_content;
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}

@include m.md {
  .p-model {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;

    &__description {

      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}

@include m.lg {
  .p-model {
    &__description {
      p {
        font-size: 1.6rem;
      }
    }
  }
}